<div fxFlexFill fxLayout="column">

  <md-toolbar color="primary">
    <span>{{title}}</span>
  </md-toolbar>

  <div fxLayout="row">
    <div fxFlex="35%" class="scrollx">

      <md-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container mdColumnDef="date">
          <md-header-cell *mdHeaderCellDef> Date </md-header-cell>
          <md-cell *mdCellDef="let event"> {{event.timestamp | date:'yyyy MMM dd'}} </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container mdColumnDef="time">
          <md-header-cell *mdHeaderCellDef> Time </md-header-cell>
          <md-cell *mdCellDef="let event"> {{event.timestamp | date:'h:mm:ss a' | lowercase}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
          <md-cell *mdCellDef="let event"> {{event.user_name}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container mdColumnDef="email">
          <md-header-cell *mdHeaderCellDef> Email </md-header-cell>
          <md-cell *mdCellDef="let event"> {{event.user_email}} </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'selected': selectedEvent == row.id}"
                (click)="onEventSelect(row)"></md-row>
      </md-table>
    </div>

    <div fxFlex="65%">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>
